################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Homie_Man_Main/.vs/Main_Menu/v16
