################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Homie_Man/v16/ipch/AutoPCH/9efc687ed8f3e86b
